<div class="comments" >
  {{#each this}}
  <section class="comment my-3 p-2 rounded" id="comments-div"> 
    <div id="comment-info">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div>
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>