<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinato</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Work+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div>
        <header class="d-flex justify-content-between align-items-center my-2 mx-3">
            <h1>
                <a href="/">Sinato Social</a>
            </h1>
                {{!-- {{#if loggedIn}} --}}
                <button id="logout">logout</button>
                {{!-- {{else}} --}}
                <a href="/login">login</a>
                {{!-- {{/if}} --}}
        </header>
        <main>
            <nav class="nav flex-column border border-1 rounded-end my-5 ms-0" id="user-nav">
                <li class="nav-item border-bottom ps-2 pe-5">
                    <a href="/">Home</a>
                </li>
                <li class="nav-item border-bottom px-2">
                    <a href="/dashboard/new">New Post</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/dashboard">My Posts</a>
                </li>
            </nav>

            {{{ body }}}
        </main>
        <footer class="my-3 fixed-bottom d-inline-flex justify-content-center">
            Thank you for choosing Sinato!
        </footer>
    </div>
    {{!-- {{#if loggedIn}} --}}
    <script src="/javasript/logout.js"></script>
    {{!-- {{/if}} --}}
</body>
</html>