<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinato</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Work+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="d-flex justify-content-between align-items-center my-3 mx-3 mb-5">
        <h1>
            <a href="/" class="rounded px-3" id="logo">Sinato Social</a>
        </h1>
            {{!-- {{#if loggedIn}} --}}
            <button class="border-0 rounded-pill px-3 log-in-out">logout</button>
            {{!-- {{else}} --}}
            <a href="/login" class="log-in-out border-0 rounded-pill px-3">login</a>
            {{!-- {{/if}} --}}
    </header>

    <main class="container mx-0 p-0">
        <div class="row ms-0">
            {{!-- {{#if loggedIn}} --}}
            <nav class="nav flex-column col-2 align-self-start border-0 rounded-end my-4" id="user-nav">
                <li class="nav-item border-bottom ps-2 pe-5 py-2">
                    <a href="/">Home</a>
                </li>
                <li class="nav-item border-bottom px-2 py-2">
                    <a href="/dashboard/new">New Post</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a href="/dashboard">My Posts</a>
                </li>
            </nav>
            {{!-- {{/if}} --}}

            {{{ body }}}
        </div>
    </main>
    <footer class="py-2 d-flex sticky-xl-bottom justify-content-center">
        Thank you for choosing Sinato!
    </footer>
    {{!-- {{#if loggedIn}} --}}
    <script src="/javasript/logout.js"></script>
    {{!-- {{/if}} --}}
</body>
</html>