<article class="col outline rounded p-4">
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2 class="d-block post-title text-center my-3 rounded p-2 px-4">
        Add New Post
    </h2>
    <form id="new-post-form">
        <div class="my-2">
            <label for="post-title" class="new-post-labels">Song Title:</Title></label>
            <input name="post-title" type="text" class="form-control" id="post-title"/>
        </div>
        <div class="my-2">
            <label for="artist-name" class="new-post-labels">Artist Name:</label>
            <input name="artist-name" type="text" class="form-control" id="artist-name"/>
        </div>
        <textarea id="emojionearea1" name="post-content" class="form-control mt-4 mb-3" rows="3"></textarea>
        <button type="submit" class="mt-2 rounded-pill px-3 log-in-out">Save Post</button>
    </form>
</article>


<script>
    $(document).ready(function() {
        $("#emojionearea1").emojioneArea({
            pickerPosition: "bottom",
            tonesStyle: "bullet"
        });
    })
</script>

<script src="/javascript/add-post.js"></script>