<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Add New Post
    </h2>
    <form>
        <div>
            <input name="post-title" type="text"/>
        </div>
        <button type="submit">Save Post</button>
    </form>
</article>