<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Add New Post
    </h2>
    <form>
        <div>
            <label for="post-title">Post Title:</Title>:</label>
            <input type="text" id="post-title"/>
        </div>
        <div>
            <label for="artist-name">Artist Name:</label>
            <input type="text" id="artist-name"/>
        </div>
        <div>
            <label for="song-name">Song Name:</label>
            <input type="text" id="song-name"/>
        </div>
        <button type="submit">Save Post</button>
    </form>
</article>