<section class="col p-4 ms-5 flex-column justify-content-center">
    <h2 class="d-block col my-post-title text-center rounded mb-3 py-3">
        My Posts
    </h2>
{{#if posts.length}}
    {{#each posts as |post|}}
        <div class="flex-column justify-content-center">
            {{> post-info post}}

        </div>
        <div class="d-flex justify-content-center">
            <a href="/dashboard/edit/{{post.id}}" class="edit-link rounded-pill my-2 px-5 py-1 styled-btn">
                Edit Post
            </a>

        </div>
    {{/each}}
{{else}}
    <div class="flex-column justify-content-center text-center">
        <h3>No posts yet. <a href="/dashboard/new" id="no-post-alert">Create a post</a> to get started! </h3>
    </div>
{{/if}}
</section>