<<<<<<< HEAD
<div class="container flex-column d-flex align-items-center col-lg-9 col-md-6 m-auto py-3">
  {{#each posts as |post|}}
    <div class="row" id="card-row">
    {{> post-info post }}
    </div>
{{/each}}
=======
<div class="card col-lg-9 col-md-6 d-flex rounded-4 ms-5 my-3 py-2" id="single-post">
  {{!-- each post needs to be dynamically created --}}

  {{!-- this is just an example for styling purposes --}}
   <div class="card-body">
    <h2 class="card-title text-center post-title m-auto my-3 rounded p-2 px-4">
      This div is the "post-info" partial

      {{!-- post title here --}}
    </h2>
    <h3 class="card-subtitle artist-name ps-4 my-2">
      Artist name here
    </h3>
    <p class="card-text ps-4">
      Post content here. Look at this post! Yay! New post!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda doloribus nemo iusto inventore facilis aperiam corrupti sunt sequi dolorem cumque, officia, cupiditate sint alias in. Neque ipsa architecto doloribus dolor.
    </p>
  </div>
>>>>>>> 4c80bc1 (title artist and post content now show up on dashboard)
</div>
