<div class="col single-post-div">
    <div class="text-center">
        {{> post-info post}}

    </div>

    {{#if loggedIn}}
        <form class="comment-form ms-3">
            <div class="mt-5 mb-3 ms-5 flex-column justify-content-start">
                <div>
                    <textarea name="comment-body" id="emojionearea2" class="form-control single-post-comment"></textarea>
                </div>
                <div class="mt-3">
                    <button type="submit" class="styled-btn rounded-pill px-4">add comment</button>
                </div>
            </div>
        </form>
    {{/if}}

        {{> comments post.comments}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}