<div class="col text-center">
    
    {{> post-info post}}

    {{#if loggedIn}}
        <form class="comment-form">
            <div class="mt-5 mb-3 d-flex justify-content-center">
                <textarea name="comment-body" class="form-control single-post-comment"></textarea>
            </div>
            <div>
                <button type="submit" class="styled-btn rounded-pill px-4">add comment</button>
            </div>
        </form>
    {{/if}}

            {{> comments post.comments}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/thumbs.js"></script>
{{/if}}