{{> post-info post}}

{{!-- {{#if loggedIn}} --}}
<div class="row text-center">
    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>
        <div>
            <button type="submit">add comment</button>
            <button type="button" class="thumbs-btn">thumbs</button>
        </div>
    </form>
    {{!-- {{/if}} --}}

    {{> comments post.comments}}
</div>

{{!-- {{#if loggedIn}} --}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/thumbs.js"></script>
{{!-- {{/if}} --}}