/* 
Aqua blue shade: #46B4A9
Light green: #D5F979
background dark gray: #2A2747

light gray gradient:
background-image: linear-gradient(to bottom, #8c8c8c, #787878, #656565, #525252, #404040); 

blue-green gradient:
background-image: linear-gradient(to bottom, #46B4A9, #56C8A5, #77DB9A, #A2EC8A, #D5F979);

Google fonts: 
Ubuntu regular 400: post content text font and comments
Work Sans bold 700: links, dashboard header, song name, artist name, logout button
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

:root {
  --blue: #46B4A9;
  --green: #D5F979;
  --gray: #2A2747;
  --gray-gradient: linear-gradient(to bottom, #8c8c8c, #787878, #656565, #525252, #404040);
  --blue-gradient: linear-gradient(to right top, #46B4A9, #56C8A5, #77DB9A, #A2EC8A, #D5F979);
  --green-border: 1px solid #D5f979;
}

body {
  background-color: var(--gray);
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

a:hover {
  color: var(--blue);
}

h1, h2, h3, h4 {
  font-family: 'Work Sans', sans-serif;
}

footer {
  background-color: var(--gray);
}

#back {
  font-weight: normal;
}

/* ========== UTILS ============ */
.transparent-bkg {
  background-color: transparent;
}

.green-label {
  color: var(--green);
}

.blue-label {
  color: var(--blue);
}

.outline {
  border: var(--green-border);
  margin-left: 60px;
  padding: 15px;
  width: fit-content;
  background-color: transparent;
}

.styled-btn {
  color: white;
  max-height: fit-content;
  background-image: var(--gray-gradient); 
  font-weight: normal;
  border: none;
}

.styled-btn:hover {
  background-image: var(--blue-gradient);
  color: var(--gray);
}


/* --------main.handlebars styling-------- */
#user-nav {
  width: 215px;
  background-image: var(--gray-gradient); 
  font-size: 20px;
}

#logo-nav {
  background-image: linear-gradient(to bottom, #2a2747, #272441, #23213c, #201e36, #1d1b31);
}


#logo:hover {
  border: none;
  background-image: var(--blue-gradient);
  color: var(--gray);
}

/* -------single post partial styling--------- */
#post-body {
  width: 800px;
}

.post-title {
  background-image: var(--blue-gradient);
  color: var(--gray);
}

.post-title a {
  font-family: 'Work Sans', sans-serif;
  color: var(--gray);
}

.post-title a:hover {
  color: white;
}

.artist-name {
  color: var(--green);
}

.artist-span {
  color: white;
  font-size: 20px;
}

.user-post {
  color: var(--blue);
  font-size: 20px;
  font-weight: bold;
}

#card-row {
  width: fit-content;
}

.single-post-div {
  width: fit-content;
}

/* -------login page styling-------- */
.post-content {
  width: 100px;
}

/* ------- add post styling ------ */
.new-post-labels {
  font-size: 20px;
  color: var(--green);
}

.single-post-comment {
  width: 600px;
}


/* ------- dashboard.handlebars styling ------*/
.my-post-title {
  background-image: linear-gradient(to bottom, #46b4a9, #56c8a5, #77db9a, #a2ec8a, #d5f979);
  color: var(--gray);
}

#no-post-alert {
  color: var(--blue);
  font-family: 'Work Sans', sans-serif;
}

#no-post-alert:hover {
  color: var(--green);
}

/* --------- comments partial styling ------- */
#comments-div {
  background-color: #1d1b31;
}

#comment-info {
  color: var(--blue);
  font-weight: bold;
  font-size: 18px;
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 980px) { 
  #post-body {
    width: 500px;
  }
}

@media screen and (max-width: 780px) { 
  #post-body {
    width: fit-content;
  }
}