/* 
Aqua blue shade: #46B4A9
Light green: #D5F979
background dark gray: #2A2747

light gray gradient:
background-image: linear-gradient(to bottom, #8c8c8c, #787878, #656565, #525252, #404040); 

blue-green gradient:
background-image: linear-gradient(to bottom, #46B4A9, #56C8A5, #77DB9A, #A2EC8A, #D5F979);

Google fonts: 
Ubuntu regular 400: post content text font and comments
Work Sans bold 700: links, dashboard header, song name, artist name, logout button
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

:root {
  --blue: #46B4A9;
  --green: #D5F979;
  --gray: #2A2747;
  --gray-gradient: linear-gradient(to bottom, #8c8c8c, #787878, #656565, #525252, #404040);
  --blue-gradient: linear-gradient(to right top, #46B4A9, #56C8A5, #77DB9A, #A2EC8A, #D5F979);
  --green-border: 1px solid #D5f979;
}

body {
  background-color: var(--gray);
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

a:hover {
  color: var(--blue);
}

h1, h2, h3, h4 {
  font-family: 'Work Sans', sans-serif;
}

/* main styling */
#user-nav {
  width: 180px;
  background-image: var(--gray-gradient); 
}

.log-in-out {
  color: white;
  max-height: fit-content;
  background-image: var(--gray-gradient); 
  font-weight: normal;
  border: none;
}

.log-in-out:hover {
  background-image: var(--blue-gradient);
  color: var(--gray);
}

#logo:hover {
  border: none;
  background-image: var(--blue-gradient);
  color: var(--gray);
}

/* single post styling */
#single-post {
  border: var(--green-border);
  background-color: transparent;
}

.post-card {
  background-color: transparent;
}

.post-title {
  background-image: var(--blue-gradient);
  color: var(--gray);
}

.artist-name {
  color: var(--green);
}

.artist-span {
  color: white;
  font-size: 20px;
}

.user-post {
  color: var(--blue);
}

.thumbs-count {
  background-image: var(--gray-gradient);
}






/* login page styling */
.outline {
  border: var(--green-border);
  margin-left: 60px;
  padding: 15px;
  width: fit-content;
  background-color: transparent;
}


